body {
    font-family: Arial, sans-serif;
    color: black;
}
h1, h2, h3 {
    font-family: Arial, sans-serif;
    font-weight: bolder;
    /*text-decoration: underline;*/
    letter-spacing: -0.5px;
    padding: 0;
    margin: 0%;
    font-size: 45px;
}
p {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0%;
    font-size: 20px;
}
a {
    color: rgb(0, 102, 255);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
@media (prefers-color-scheme: dark) {
    body {
        color: #D8D5D1;
        background-color: #181A1B;
    }
    a {
        color: rgb(0, 255, 149);
        text-decoration: none;
    }
}

#xmlContent {
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
}